body{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}
.navarea{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.navarea .topbar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: white;
    margin-left: 20px;
}
.navarea .topbar img{
    flex-grow: 1;
    width: 100px;
}
.navarea .topbar .title{
    flex-grow: 5;
    height: 100%;
    max-width: 500px;
    font-family: Verdana;
    font-size: 35px;
    color: darkblue;
    text-align: center;
}
.navarea .topbar .icon{
    display: none;
}
@media screen and (max-width:600px) {
    .navarea{
        height: 80px;
    }
    .navarea .topbar{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: white;
        margin-left: 20px;
        width: 100%;
        background-color: white;
    }
    .navarea .topbar img{
        flex-grow: 1;
        width: 15%;
    }
    .navarea .topbar .title{
        flex-grow: 5;
        height: 50%;
        max-height: 100%;
        width: 75%;
        font-family: Verdana;
        font-size: 20px;
        color: darkblue;
        text-align: center;
    }
     
    .navarea .topbar .icon{
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
        height: 50%;
        text-decoration: none;
        background-color: darkblue;
        color: white;
        font-size: 20px;
        text-align: center;
        margin-right: 10px;
    }   
}
.navarea .navbar{
    position: relative;
    overflow: visible;
    z-index: 999;
    min-height: 2.75rem;
    height: 40px;
    background-color: white;
}
.navarea .navbar ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.navarea .navbar ul li{
    float: left;
    height: 40px;
    width: 133px;
    background-color: white;
    line-height: 40px;
    margin-left: 2px;
}
.navarea .navbar ul li a{
    text-decoration: none;
    color: darkblue;
    display: block;
    text-align: center;
    font-size: 20px;
}
.navarea .navbar ul li a:hover{
    background-color: darkblue;
    color: white;
}
.navarea .navbar .active{
    background-color: darkblue;
    color: white;
}
.navarea .navbar ul li ul li{
    display: none;
}
.navarea .navbar ul li:hover ul li{
    display: block;
}
.navarea .navbar ul li:hover ul li ul li{
    display: none;
}
.navarea .navbar ul li:hover ul li:hover ul li{
    display: block;
    float: left;
    margin-left: 134px;
    width: 200px;
}
@media screen and (max-width:600px) {
    .navarea .navbar ul li{
        display: none;
    }    
}
@media screen and (max-width:600px) {
    .navarea .navbarresponsive{
        width: 100%;
        background-color: white;
        z-index: 99;
    }
    .navarea .navbarresponsive ul{
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
    .navarea .navbarresponsive ul li{
        list-style-type: none;
    }
    .navarea .navbarresponsive ul li a{
        float: none;
        display: block;
        text-align: left;
        color: darkblue;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
    }
    .navarea .navbarresponsive ul li a:hover{
        background-color: darkblue;
        color: white;
    }
    .navarea .navbarresponsive .active{
        background-color: darkblue;
        color: white;
    }
    .navarea .navbarresponsive ul li ul li{
        display: none;
    }
    .navarea .navbarresponsive ul li:hover ul li{
        display: block;
        padding-left: 20px;
    }
    .navarea .navbarresponsive ul li:hover ul li ul li{
        display: none;
    }
    .navarea .navbarresponsive ul li:hover ul li:hover ul li{
        display: block;
        padding-left: 20px;
    }
}

.banner{
    position: relative;
    width: 100%;
    margin: 0px;
    color: white;
}
.banner img{
    width: 100%;
}
.banner .text1{
    position: absolute;
    bottom: 50%;
    left: 32px;
    font-size: 90px;
}
.banner .text2{
    position: absolute;
    bottom: 40%;
    left: 32px;
    font-size: 60px;
}
@media screen and (max-width:600px) {
    .banner .text1{
        position: absolute;
        bottom: 64px;
        left: 16px;
        font-size: 45px;
    }
    .banner .text2{
        position: absolute;
        bottom: 16px;
        left: 16px;
        font-size: 40px;
    }
    
}
.blue_banner{
    position: relative;
    width: 100%;
    min-height: 300px;
    background-color: #003399;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 0px;
}
.blue_banner .box{
    position: relative;
    width: 370px;
    height: 250px;
    margin: 20px;
}
.blue_banner img{
    width: 100%;
    transition: transform .2s;
}
.blue_banner img:hover{
    transform: scale(1.1);
}
.blue_banner .box .name{
    position: absolute;
    color: white;
    bottom: 32px;
    left: 16px;
    width: 100%;
    font-size: 30px;
}
.blue_banner .box .description{
    position: absolute;
    color: white;
    bottom: 16px;
    left: 16px;
    width: 100%;
    font-size: 20px;
}
.container4{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-height: 400px;
    justify-content: center;
    align-items: center;
}
.container4 .box1{
    width: 530px;
    margin: 25px;
    text-align: left;
}
.container4 .box1 h2{
    font-family: sans-serif;
    font-size: 40px;
    margin: 0px;
    margin-top: 25px;
}
.container4 .box1 h1{
    font-family: sans-serif;
    font-size: 60px;
    color: royalblue;
    margin: 0px;
}
.container4 .box1 img{
    width: 100%;
}
.container4 p{
    margin: 5px;
    font-family: sans-serif;
}
@media screen and (max-width:600px) {
    .container4 .box1{
        margin: 15px;
    }
}

.banner2{
    position: relative;
    width: 100%;
    margin: 0px;
}
.banner2 img{
    width: 100%;
}
.banner2 .text1{
    position: absolute;
    top: 50%;
    left: 16px;
    font-family: helvetica;
    font-size: 5.625rem;
    color: darkorange;
}
.banner2 .text2{
    position: absolute;
    top: 70%;
    left: 16px;
    font-family: helvetica;
    font-size: 3.625rem;
    color: skyblue;
}
@media screen and (max-width:600px) {
    .banner2 .text1{
        position: absolute;
        top: 50%;
        left: 16px;
        font-family: helvetica;
        font-size: 2.425rem;
        color: darkorange;
    }
    .banner2 .text2{
        position: absolute;
        top: 70%;
        left: 16px;
        font-family: helvetica;
        font-size: 1.625rem;
        color: skyblue;
    }
    
}
.container7{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: #003399;
    color: white;
    width: 100%;
    min-height: 200px;
}
.container7 .box4{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 18.75em;
    height: 12.5em;
    background-color: #003399;
    margin: 15px;
}
.container7 .box4 .boxcontent1{
    font-family:  sans-serif;
    font-size: 25px;
}
.container7 .box4 .boxcontent2{
    font-family:  sans-serif;
    font-size: 16px;    
}
@media screen and (max-width:600px) {
    .container7 .box4{
        height: 6em;
    }
}
.bottombox{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bottombox .connect{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: sans-serif;
    font-size: 1rem;
}
.bottombox .connect img{
    width: 2rem;
    margin: 1rem;
}
.bottombox .rights{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: sans-serif;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
p{
    margin: 0.5rem;
}